---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<div style="text-align: left;">
  <p>After finishing my Ph.D. in 2023, I moved away from formal academic publishing. However, old habits die hard—I still find myself exploring new ideas and learning in my free time, simply out of curiosity.</p>

  <p>Below is a collection of my work from my years as a student and researcher. I’ve put together some of the projects, results, and resources I worked on during that time. Please feel free to look through them; I hope you find these notes and findings helpful.</p>
</div>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

